@use './variables.scss' as vars;

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100vw !important;
  overflow-x: none !important;
}

h1 {
  font-size: 80px;
  color: vars.$primary;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 50px;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  margin-top: 0;
}

li {
  color: vars.$primary !important;
}

p {
  font-family: var(--font-open-sans), sans-serif;
  font-weight: 300; // Use the specified weight
}

.colorWhite {
  color: white;
}

.colorPrimary {
  color: vars.$primary;
}

.backgroundColor-primary {
  background-color: vars.$primary;
}

.backgroundColor-secondary {
  background-color: vars.$secondary;
}

/* Base button styles */
.button {
  width: 140px;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  // line-height: 60px; /* Center text vertically */
  display: inline-block;
  border: 1px solid transparent; /* Default border for alignment */
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

/* Primary button styles */
.primary-button {
  background-color: white;
  color: vars.$primary; /* Replace $primary with your actual color variable */
  border-color: vars.$primary;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */

  &:hover {
    border-color: white;
    background-color: vars.$primary; /* Invert colors on hover */
    color: white;
  }
}

/* Secondary button styles */
.secondary-button {
  background-color: transparent;
  color: white;
  border-color: white;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */

  &:hover {
    background-color: white; /* Invert colors on hover */
    color: vars.$primary;
  }
}
