@use '../../../styles/css/variables.scss' as vars;
@use '../../../styles/css/breakpoints.scss';

.container {
  min-height: 100vh;
  background-color: vars.$primary;
  display: flex;
  padding: 0 100px;
  align-items: center;
}

.textContainer {
  flex: 1 1;
  // padding: 0 30px;
  display: flex;
  flex-direction: column;

  margin-top: -100px;
}

.imageContainer {
  flex: 1 1;
  position: relative; /* Required for layout="fill" */
  width: 100%; /* Make it as wide as its parent */
  height: 60vh; /* Ensure it occupies the desired height */
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}

.heading {
  color: white;
  margin: 0;
}

.secondaryColor {
  color: vars.$secondary;
}
