@use '../../../styles/css/variables';
@use '../../../styles/css/breakpoints';

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
}

.miniSections {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
